.header {
  height: 520px;
  width: 100%;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;  
  background-image: url("https://www.transparenttextures.com/patterns/padded.png");
};
