/* styling for header, html in index.html */
.header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
  background-color: #205596;
  background-image: url("https://www.transparenttextures.com/patterns/swirl.png");
  margin-top: 6em;
  margin-left: 2em;
  margin-right: 2em
};


